#country{
    display: grid;
    grid-template-columns:repeat(3,1fr);

}

.country{
    border: 2px solid blue;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: darkgrey;
}
.details{
    border: 4px solid rgb(6, 109, 6);
    border-radius: 15px;
    background-color: darkseagreen;
    padding: 20px;
    margin: 20px;
}